# Server:
.vs/
.vscode/
.idea/


*.log
*.tmp
*.temp
*.bak
.DS_Store
Thumbs.db

.env
.env.*

**/bin/
**/obj/

*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/
*.trx

coverage/
*.coverage
*.coveragexml

*.nupkg
*.snupkg
.nuget/

**/appsettings.Development.json
**/appsettings.Local.json

**/secrets.json

*.pfx
*.pem
*.key

postgres-data/
data/

logs/
Logs/

tmp/

android/

.idea/

publish/
*.publishsettings

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.[Cc]ache
*[Rr]esharper*
*.dll
*.nupkg
*.ncrunchsolution
*.dot[Cc]over
*.htm

# Mobile:
node_modules/
.claude/
.expo/
dist/
web-build/
expo-env.d.ts

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env*.local

*.tsbuildinfo

app-example

/ios
/android

.env
.env.*
!.env.example